<div class="animated fadeIn">

  <div class="register-container flex-row align-items-center">
    <div class="container">

      <!-- Title -->
      <div class="row mb-5">
        <div class="col text-center">
          <h1>Fortæl os lidt om dig selv</h1>
        </div>
      </div>
      <!-- End Title -->


      <!-- Register form -->
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card p-3 mb-0">
            <div class="card-body">
              <form [formGroup]="formgroupRegister"
                    (keyup.enter)="HTMLSignUp()">
                    
                <div class="row">
                  <div class="col">
                    <div class="alert alert-danger"
                         *ngIf="errorMessageAtSignup?.length > 0">{{errorMessageAtSignup}}</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label>Fornavn</label>
                    <input type="text"
                           class="form-control form-control-lg"
                           [ngClass]="{
                             'is-valid':formgroupRegister.get('firstName').valid === true && formgroupRegister.get('firstName').dirty === true && formgroupRegister.enabled,
                             'is-invalid':formgroupRegister.get('firstName').valid === false && formgroupRegister.get('firstName').dirty === true && formgroupRegister.enabled
                            }"
                           formControlName="firstName">
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <label>Efternavn</label>
                    <input type="text"
                           class="form-control form-control-lg"
                           [ngClass]="{
                             'is-valid':formgroupRegister.get('lastName').valid === true && formgroupRegister.get('lastName').dirty === true && formgroupRegister.enabled,
                             'is-invalid':formgroupRegister.get('lastName').valid === false && formgroupRegister.get('lastName').dirty === true && formgroupRegister.enabled
                            }"
                           formControlName="lastName">
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <label>E-Mail</label>
                    <input type="email"
                           class="form-control form-control-lg"
                           [ngClass]="{
                             'is-valid':formgroupRegister.get('email').valid === true && formgroupRegister.get('email').dirty === true && formgroupRegister.enabled,
                             'is-invalid':formgroupRegister.get('email').valid === false && formgroupRegister.get('email').dirty === true && formgroupRegister.enabled
                          }"
                           formControlName="email">
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <label>Kodeord</label>
                    <input type="password"
                           class="form-control form-control-lg"
                           [ngClass]="{
                             'is-valid':formgroupRegister.get('password').valid === true && formgroupRegister.get('password').dirty === true && formgroupRegister.enabled,
                             'is-invalid':formgroupRegister.get('password').valid === false && formgroupRegister.get('password').dirty === true && formgroupRegister.enabled
                            }"
                           formControlName="password">
                  </div>
                </div>
              </form>

              <div class="row mt-4">
                <div class="col-4">
                  <button class='btn btn-lg btn-block btn-primary'
                          (click)="HTMLBack()">Tilbage
                  </button>
                </div>

                <div class="col-8">
                  <app-btn-ladda #btnSignUp
                                 (click)="HTMLSignUp()"
                                 [text]="'Opret Konto'"
                                 [icon]="''"
                                 [size]="'lg'"
                                 [isBlock]="true"
                                 [initialState]="formgroupRegister.valid === true ? 'primary' : 'secondary'">
                  </app-btn-ladda>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Register form -->

    </div>
  </div>
</div>